* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
}

::selection {
    color: #000000;
    background: #FDC700;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {
    transition: border 200ms ease-in-out;
}

input:focus {
    outline: none;
    border-color: #FDC700;
}

button:hover {
    transform: scale(1.02);
}