@import "tailwindcss";

* {
    box-sizing: border-box;
}

:root[data-theme="light"] {
    --primary: #FDC700;
    --secundary: #fdc700;
    --body: #fdc700;
    --bg-nav: rgba(0, 0, 0, 0.9);
    --black: #000000;
    --prev-next: #C10007;
    --scrollbar-track: #FDC700;

    --scrollbar-thumb: #e5e5e5;

    --tn-fiber: #fdc700;
    --burguer: #fdc700;
    --container-C2: #222222;
    --container-C2-txt: #fdc700;
    --plans: #e5e5e5;
    --span-plan-bg: #fdc700;
    --span-plan-txt: #000000;
    --plan-value: #c11007;
    --icon-vantag: #fdc700;
    --icon-vantag-hover:#016630;
    --contact: #f5f5f5;
    --contact-btn: #000000;
    --contact-txt: #fdc700;
    --white: #e5e5e5;
}

:root[data-theme="dark"] {
    --primary: #e5e5e5;
    --secundary: #e5e5e5;
    --body: #212426;
    --bg-nav: rgba(0,0,0,0.9);
    --black: #d4d4d4;
    --prev-next: #fdc700;

    --scrollbar-thumb: #e5e5e5;

    --tn-fiber: #fdc700;
    --burguer: #e5e5e5;
    --container-C2: #ffc800dd;
    --container-C2-txt: #111111;
    --plans: #fdc700;
    --span-plan-bg: #c10007;
    --span-plan-txt: #e5e5e5;
    --plan-value: #c10007;
    --icon-vantag: #c10007;
    --icon-vantag-hover: #016630;
    --contact: #1c1c1c;
    --contact-btn: #fdc700;
    --contact-txt: #000000;
    --white: #e5e5e5;
}

::selection {
    background: var(--black);
    color: var(--primary);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--body);
    transition: background 300ms ease-in-out;
}

.navbar {
    background: var(--bg-nav);
    backdrop-filter: blur(10px);
    border-radius: 0 0 5px 0;
}

.logo h2 {
    color: var(--primary);
}

.tnfiber-mobile {
    display: none;
}

.logo-text {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo-text h2 span {
    border-top: 2px solid var(--tn-fiber);
    border-left: 2px solid var(--tn-fiber);
}

.logo-text h2 {
    color: var(--tn-fiber);
}

.tnfiber-mobile h2, .tnfiber-mobile span {
    color: var(--tn-fiber);
}

.nav-options a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--white);
    transition: all 300ms ease-in-out;
}

.nav-options a:hover::after {
    width: 100%;
}

.nav-options a:hover {
    transform: scale(1.05);
}

.client-aria:hover {
    transform: scale(1.05);
}

.btn-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 1.4rem;
    background: #4e4e4e;
    border: none;
    position: relative;
    transition: background 300ms;
}

.circle {
    width: 1.2rem;
    height: 1.2rem;
    background: #fdc700;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    transition: transform 300ms;
}

[data-theme="dark"] .btn-toggle .circle {
    transform: translateX(25px);
}

.icon {
    font-size: 1rem;
    pointer-events: none;
    transition: opacity 200ms;
}

.sun {
    color: #FDC700;
    opacity: 0;
}

.moon {
    color: #0053b8;
    opacity: 1;
}

[data-theme="dark"] .sun {
    opacity: 1;
}

[data-theme="dark"] .moon {
    opacity: 0;
}

[data-theme="dark"] .circle {
    background: #e5e5e5;
}

.fibra-optica-C1 h1, .fibra-optica-C1 p {
    color: var(--black);
}

.vantagens div:hover {
    transform: translateY(-4px);
}

.escolha-planos h2, .escolha-planos p {
    color: var(--black);
}

.fibra-optica-C2-plan {
    background: var(--container-C2);
}

.fibra-optica-C2-plan:hover {
    transform: scale(1.03);
}

.fibra-optica-C2-plan h3, .fibra-optica-C2-plan span, .fibra-optica-C2-plan p {
    color: var(--container-C2-txt);
}

.plan-one:hover {
    transform: translateY(-10px);
}

.fibra-optica,
.escolha-planos,
.plans-grid
.justify,
.contact {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

.fibra-optica,
.escolha-planos.active,
.plans-grid.active,
.justify.active,
.contact.active {
    opacity: 1;
    transform: translateY(0);
}

.burguer {
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
    width:28px;
    height: 21px;
    cursor: pointer;
}

.burguer span {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--burguer);
    transition: transform 300ms ease, opacity 100ms ease;
}

.burguer.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burguer.active span:nth-child(2) {
    opacity: 0;
}

.burguer.active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.nav-options-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1rem;
    width: 50%;
    height: 30vh;
    border-radius: 0 0 0 5px;
    position: absolute;
    top: 96px;
    right: 0;
    background: #000000;
    opacity: 0;
    visibility: hidden;
    transform: translateX(150%);
    transition: transform 400ms ease-in-out, opacity 600ms ease-in-out;
}

.nav-options-mobile.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.plans-grid {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

.carrossel::-webkit-scrollbar {
    display: none;
}

.prev, .next {
    color: var(--prev-next);
    background: transparent;
    transition: transform 200ms ease-in-out;
}

.prev:hover, .next:hover {
    transform: scale(1.05);
}

.plan-one {
    flex: 0 0 360px;
    scroll-snap-align: center;
    min-width: 300px;
    background: var(--plans);
}

.plan-value {
    color: var(--plan-value);
}

.span-plan {
    background: var(--span-plan-bg);
    color: var(--span-plan-txt);
}

.icon-vantages {
    color: var(--icon-vantag);
}

.icon-vantages:hover {
    color: var(--icon-vantag-hover);
}

.plan-one a {
    text-align: center;
    text-decoration: none;
    color: #fdc700;
    background: #000000;
    transition: background 300ms ease, transform 300ms ease;
}

.plan-one a:hover {
    background: #222222;
    transform: scale(1.02);
}

.about {
    color: var(--black);
    background: var(--contact);
}

.contact-grid {
    background: var(--contact);
}

.c-grid-one h2, .c-grid-one p {
    color: var(--black);
}

.submit {
    color: var(--contact-txt);
    background: var(--contact-btn);
}

.submit:hover {
    transform: scale(1.04);
}

.class-brands i:hover {
    transform: scale(1.05);
}

.warningMsg.active {
    opacity: 1;
}

textarea {
    resize: none;
}

@media (max-width: 768px) {

    .navbar {
        border-radius: 0;
    }

    .burguer {
        display: flex;
    }

    .plans-grid {
        width: 100%;
    }

    .plan-one {
    flex: 0 0 245px;
    min-width: 200px;
    scroll-snap-align: center;
    }

    .tnfiber-mobile {
        display: flex;
    }
}